<tr>
  <td><%= render_post_status(post) %>  <%= link_to(post.title, edit_account_post_path(post)) %></td>
  <td><%= post.created_at.strftime("%Y-%m-%d %I:%M %p") %></td>
  <td class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <%= render "status_option", post: post %>
      <li class="divider"></li>
      <li><%= link_to("Delete Post", account_post_path(post), :method => :delete, data: { confirm: "Are you sure?" }) %></li>
    </ul>
  </td>
</tr>
