<div class="post-lists">
  <% @posts.each do |post| %>
      <div class="meta"><%= post.created_at.strftime("%Y-%m-%d") %> | Posted by <%= post.user.user_name %> | <%= post.impressionist_count(:filter=>:session_hash)%> 人浏览</div>
      <h2 class="entry-title"><%= link_to(post.title, post_path(post)) %></h2>
      <hr>
      <div class="post-content"><%= sanitize post.description %></div>
      <hr>
  <% end %>

  <div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
