<!DOCTYPE html>
<html>
  <head>
    <title>BlogProject Admin Panel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="col-md-2">
          <p><%= link_to("Manage Blog", "#", :class => "btn btn-default") %></p>
          <p><%= link_to("Manage Post", "#", :class => "btn btn-default") %></p>
          <p><%= link_to("Manage User", "#", :class => "btn btn-default") %></p>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
